<div class="title-bg text-white d-inline-block px-3 py-2 rounded">
  <h2 class="m-0">コミュニティ一覧</h2>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>名前</th>
      <th>作成者</th>
      <th>作成日</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @communities.each do |community| %>
      <tr>
        <td><%= link_to community.community_name, admin_community_path(community) %></td>
        <td><%= community.user.present? ? community.user.name : "退会済みユーザー" %></td>
        <td><%= l community.created_at, format: :short %></td>
        <td>
          <% if community.is_hidden? %>
            <%= button_to "公開に戻す", unhide_admin_community_path(community),method: :patch,class: "btn btn-sm btn-success" %>
          <% else %>
            <%= button_to "非公開にする", hide_admin_community_path(community),method: :patch,data: { confirm: "このコミュニティを非公開にしますか？" },class: "btn btn-sm btn-warning" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>