<div class="container my-4">
  <div class="row">
    <!-- 左カラム: プロフィール -->
    <div class="card">
    <% if current_user.avatar.attached? %>
      <%= image_tag current_user.avatar.variant(resize_to_fill: [150,150]), class: "card-img-top rounded-circle" %>
    <% else %>
      <%= image_tag "default_avatar.png", size: "150x150", class: "card-img-top rounded-circle" %>
    <% end %>
    <div class="card-body text-center">
      <h5 class="card-title"><%= current_user.name %></h5>
      <p class="card-text"><%= current_user.introduction %></p>
      <%= link_to "プロフィール編集", edit_user_registration_path, class: "btn btn-sm btn-primary" %>
    </div>
  </div>

    <!-- 右カラム: 活動内容 -->
    <div class="col-md-9">
      <h4>あなたの投稿</h4>
      <% current_user.posts.each do |post| %>
        <div class="card mb-2">
          <div class="card-body">
            <h5><%= link_to post.title, post_path(post) %></h5>
            <small><%= post.created_at.strftime("%Y-%m-%d %H:%M") %></small>
          </div>
        </div>
      <% end %>

      <h4 class="mt-4">参加中のコミュニティ</h4>
      <% current_user.communities.each do |community| %>
        <span class="badge bg-success"><%= community.name %></span>
      <% end %>

      <div class="mt-4">
        <%= link_to "通知を見る", notifications_path, class: "btn btn-outline-info" %>
      </div>
    </div>
  </div>
</div>