<!DOCTYPE html>
<html>
  <head>
    <title>Soccer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="..." crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/48edc222dc.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if controller_path.start_with?("admin/") %>
      <!-- Admin側ナビゲーション -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="<%= admin_root_path %>">⚽サカコミ管理者メニュー⚽</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#adminNavbar" aria-controls="adminNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="adminNavbar">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><%= link_to "ユーザー一覧", admin_users_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "投稿一覧", admin_posts_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "コミュニティ一覧", admin_communities_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link text-danger" %></li>
            </ul>
          </div>
        </div>
      </nav>

    <% else %>
      <!-- Public側ナビゲーション -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="<%= root_path %>">⚽サカコミ⚽</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><%= link_to "マイページ", users_mypage_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "コミュニティ作成", new_community_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "コミュニティ一覧", communities_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "投稿一覧", posts_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "新規投稿", new_post_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "いいね一覧", likes_path, class: "nav-link" %></li>
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-danger" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>

      <% if user_signed_in? %>
        <div class="bg-light py-2">
          <div class="container">
            <%= render "public/searches/form" %>
          </div>
        </div>
      <% end %>
    <% end %>

    <!-- フラッシュメッセージ -->
    <div class="container mt-4">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key == "notice" ? "success" : "danger" %> alert-dismissible fade show" role="alert">
          <%= value %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
